In [1]:
# import libraries
import pandas as pd
import numpy as np

In [2]:
#step 2- Reading the dataset
dataset = pd.read_csv(r"datasets_12204_16735_WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [3]:
type(dataset)

pandas.core.frame.DataFrame

In [4]:
dataset.isnull().any()

Age                         False
Attrition                   False
BusinessTravel              False
DailyRate                   False
Department                  False
DistanceFromHome            False
Education                   False
EducationField              False
EmployeeCount               False
EmployeeNumber              False
EnvironmentSatisfaction     False
Gender                      False
HourlyRate                  False
JobInvolvement              False
JobLevel                    False
JobRole                     False
JobSatisfaction             False
MaritalStatus               False
MonthlyIncome               False
MonthlyRate                 False
NumCompaniesWorked          False
Over18                      False
OverTime                    False
PercentSalaryHike           False
PerformanceRating           False
RelationshipSatisfaction    False
StandardHours               False
StockOptionLevel            False
TotalWorkingYears           False
TrainingTimesLastYear       False
WorkLifeBalance             False
YearsAtCompany              False
YearsInCurrentRole          False
YearsSinceLastPromotion     False
YearsWithCurrManager        False
dtype: bool

In [5]:
dataset

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset['EducationField'] = le.fit_transform(dataset['EducationField'])

In [7]:
dataset.head(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,1,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,1,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,4,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,1,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,3,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,1,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,3,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,1,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,1,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,3,1,13,...,2,80,2,17,3,2,7,7,7,7

In [8]:
dataset.corr()

,Age,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,0.010661,-0.001686,0.208034,-0.040873,NaN,-0.010145,0.010146,0.024287,0.029820,...,0.053535,NaN,0.037510,0.680381,-0.019621,-0.021490,0.311309,0.212901,0.216513,0.202089
DailyRate,0.010661,1.000000,-0.004985,-0.016806,0.037709,NaN,-0.050990,0.018355,0.023381,0.046135,...,0.007846,NaN,0.042143,0.014515,0.002453,-0.037848,-0.034055,0.009932,-0.033229,-0.026363
DistanceFromHome,-0.001686,-0.004985,1.000000,0.021042,0.002013,NaN,0.032916,-0.016075,0.031131,0.008783,...,0.006557,NaN,0.044872,0.004628,-0.036942,-0.026556,0.009508,0.018845,0.010029,0.014406
Education,0.208034,-0.016806,0.021042,1.000000,-0.039592,NaN,0.042070,-0.027128,0.016775,0.042438,...,-0.009118,NaN,0.018422,0.148280,-0.025100,0.009819,0.069114,0.060236,0.054254,0.069065
EducationField,-0.040873,0.037709,0.002013,-0.039592,1.000000,NaN,-0.002516,0.043163,-0.021941,-0.002655,...,-0.004378,NaN,-0.016185,-0.027848,0.049195,0.041191,-0.018692,-0.010506,0.002326,-0.004130
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeNumber,-0.010145,-0.050990,0.032916,0.042070,-0.002516,NaN,1.000000,0.017621,0.035179,-0.006888,...,-0.069861,NaN,0.062227,-0.014365,0.023603,0.010309,-0.011240,-0.008416,-0.009019,-0.009197
EnvironmentSatisfaction,0.010146,0.018355,-0.016075,-0.027128,0.043163,NaN,0.017621,1.000000,-0.049857,-0.008278,...,0.007665,NaN,0.003432,-0.002693,-0.019359,0.027627,0.001458,0.018007,0.016194,-0.004999
HourlyRate,0.024287,0.023381,0.031131,0.016775,-0.021941,NaN,0.035179,-0.049857,1.000000,0.042861,...,0.001330,NaN,0.050263,-0.002334,-0.008548,-0.004607,-0.019582,-0.024106,-0.026716,-0.020123
JobInvolvement,0.029820,0.046135,0.008783,0.042438,-0.002655,NaN,-0.006888,-0.008278,0.042861,1.000000,...,0.034297,NaN,0.021523,-0.005533,-0.015338,-0.014617,-0.021355,0.008717,-0.024184,0.025976
JobLevel,0.509604,0.002966,0.005303,0.101589,-0.044933,NaN,-0.018519,0.001212,-0.027853,-0.012630,...,0.021642,NaN,0.013984,0.782208,-0.018191,0.037818,0.534739,0.389447,0.353885,0.375281
JobSatisfaction,-0.004892,0.030571,-0.003669,-0.011296,-0.034401,NaN,-0.046247,-0.006784,-0.071335,-0.021476,...,-0.012454,NaN,0.010690,-0.020185,-0.005779,-0.019459,-0.003803,-0.002305,-0.018214,-0.027656
MonthlyIncome,0.497855,0.007707,-0.017014,0.094961,-0.041070,NaN,-0.014829,-0.006259,-0.015794,-0.015271,...,0.025873,NaN,0.005408,0.772893,-0.021736,0.030683,0.514285,0.363818,0.344978,0.344079
MonthlyRate,0.028051,-0.032182,0.027473,-0.026084,-0.027182,NaN,0.012648,0.037600,-0.015297,-0.016322,...,-0.004085,NaN,-0.034323,0.026442,0.001467,0.007963,-0.023655,-0.012815,0.001567,-0.036746
NumCompaniesWorked,0.299635,0.038153,-0.029251,0.126317,-0.008663,NaN,-0.001251,0.012594,0.022157,0.015012,...,0.052733,NaN,0.030075,0.237639,-0.066054,-0.008366,-0.118421,-0.090754,-0.036814,-0.110319
PercentSalaryHike,0.003634,0.022704,0.040235,-0.011111,-0.011214,NaN,-0.012944,-0.031701,-0.009062,-0.017205,...,-0.040490,NaN,0.007528,-0.020608,-0.005221,-0.003280,-0.035991,-0.001520,-0.022154,-0.011985
PerformanceRating,0.001904,0.000473,0.027110,-0.024539,-0.005614,NaN,-0.020359,-0.029548,-0.002172,-0.029071,...,-0.031351,NaN,0.003506,0.006744,-0.015579,0.002572,0.003435,0.034986,0.017896,0.022827
RelationshipSatisfaction,0.053535,0.007846,0.006557,-0.009118,-0.004378,NaN,-0.069861,0.007665,0.001330,0.034297,...,1.000000,NaN,-0.045952,0.024054,0.002497,0.019604,0.019367,-0.015123,0.033493,-0.000867
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,0.037510,0.042143,0.044872,0.018422,-0.016185,NaN,0.062227,0.003432,0.050263,0.021523,...,-0.045952,NaN,1.000000,0.010136,0.011274,0.004129,0.015058,0.050818,0.014352,0.024698
TotalWorkingYears,0.680381,0.014515,0.004628,0.148280,-0.027848,NaN,-0.014365,-0.002693,-0.002334,-0.005533,...,0.024054,NaN,0.010136,1.000000,-0.035662,0.001008,0.628133,0.460365,0.404858,0.459188
TrainingTimesLastYear,-0.019621,0.002453,-0.036942,-0.025100,0.049195,NaN,0.023603,-0.019359,-0.008548,-0.015338,...,0.002497,NaN,0.011274,-0.035662,1.000000,0.028072,0.003569,-0.005738,-0.002067,-0.004096
WorkLifeBalance,-0.021490,-0.037848,-0.026556,0.009819,0.041191,NaN,0.010309,0.027627,-0.004607,-0.014617,...,0.019604,NaN,0.004129,0.001008,0.028072,1.000000,0.012089,0.049856,0.008941,0.002759
YearsAtCompany,0.311309,-0.034055,0.009508,0.069114,-0.018692,NaN,-0.011240,0.001458,-0.019582,-0.021355,...,0.019367,NaN,0.015058,0.628133,0.003569,0.012089,1.000000,0.758754,0.618409,0.769212
YearsInCurrentRole,0.212901,0.009932,0.018845,0.060236,-0.010506,NaN,-0.008416,0.018007,-0.024106,0.008717,...,-0.015123,NaN,0.050818,0.460365,-0.005738,0.049856,0.758754,1.000000,0.548056,0.714365
YearsSinceLastPromotion,0.216513,-0.033229,0.010029,0.054254,0.002326,NaN,-0.009019,0.016194,-0.026716,-0.024184,...,0.033493,NaN,0.014352,0.404858,-0.002067,0.008941,0.618409,0.548056,1.000000,0.510224
YearsWithCurrManager,0.202089,-0.026363,0.014406,0.069065,-0.004130,NaN,-0.009197,-0.004999,-0.020123,0.025976,...,-0.000867,NaN,0.024698,0.459188,-0.004096,0.002759,0.769212,0.714365,0.510224,1.000000

In [9]:
x = dataset.iloc[:,:].values

In [10]:
y = dataset.iloc[:,:].values

In [11]:
x

array([[41, 'Yes', 'Travel_Rarely', ..., 4, 0, 5],
       [49, 'No', 'Travel_Frequently', ..., 7, 1, 7],
       [37, 'Yes', 'Travel_Rarely', ..., 0, 0, 0],
       ...,
       [27, 'No', 'Travel_Rarely', ..., 2, 0, 3],
       [49, 'No', 'Travel_Frequently', ..., 6, 0, 8],
       [34, 'No', 'Travel_Rarely', ..., 3, 1, 2]], dtype=object)

In [12]:
y

array([[41, 'Yes', 'Travel_Rarely', ..., 4, 0, 5],
       [49, 'No', 'Travel_Frequently', ..., 7, 1, 7],
       [37, 'Yes', 'Travel_Rarely', ..., 0, 0, 0],
       ...,
       [27, 'No', 'Travel_Rarely', ..., 2, 0, 3],
       [49, 'No', 'Travel_Frequently', ..., 6, 0, 8],
       [34, 'No', 'Travel_Rarely', ..., 3, 1, 2]], dtype=object)

In [13]:
from sklearn.preprocessing import OneHotEncoder
one = OneHotEncoder()
z = one.fit_transform(x).toarray()

In [14]:
z

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [15]:
x=one.fit_transform(x).toarray()

In [16]:
x

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [17]:
x.shape

(1470, 5506)

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 0)

In [19]:
y_test.shape

(294, 35)

In [20]:
x_train.shape

(1176, 5506)

In [21]:
y_train.shape

(1176, 35)

In [22]:
x_train

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [23]:
x_test

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [24]:
dataset.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,1,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,1,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,4,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,1,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,3,1,7,...,4,80,1,6,3,3,2,2,2,2

In [25]:
dataset['BusinessTravel'].fillna(dataset['BusinessTravel'].mode()[0], inplace =True)
dataset['Attrition'].fillna(dataset['Attrition'].mode()[0], inplace =True)
dataset['DailyRate'].fillna(dataset['DailyRate'].median(), inplace =True)
dataset['EducationField'].fillna(dataset['EducationField'].median(), inplace =True)

In [26]:
dataset.isnull().any()

Age                         False
Attrition                   False
BusinessTravel              False
DailyRate                   False
Department                  False
DistanceFromHome            False
Education                   False
EducationField              False
EmployeeCount               False
EmployeeNumber              False
EnvironmentSatisfaction     False
Gender                      False
HourlyRate                  False
JobInvolvement              False
JobLevel                    False
JobRole                     False
JobSatisfaction             False
MaritalStatus               False
MonthlyIncome               False
MonthlyRate                 False
NumCompaniesWorked          False
Over18                      False
OverTime                    False
PercentSalaryHike           False
PerformanceRating           False
RelationshipSatisfaction    False
StandardHours               False
StockOptionLevel            False
TotalWorkingYears           False
TrainingTimesLastYear       False
WorkLifeBalance             False
YearsAtCompany              False
YearsInCurrentRole          False
YearsSinceLastPromotion     False
YearsWithCurrManager        False
dtype: bool

In [27]:
dataset.drop(['EnvironmentSatisfaction','Gender','JobInvolvement','HourlyRate','JobInvolvement','JobLevel'], axis = 1,inplace = True)

In [28]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
dataset['Age']=le.fit_transform(dataset['Age'])
dataset['Attrition']=le.fit_transform(dataset['Attrition'])
dataset['Department']=le.fit_transform(dataset['Department'])
dataset['DistanceFromHome']=le.fit_transform(dataset['DistanceFromHome'])
dataset['EducationField']=le.fit_transform(dataset['EducationField'])
dataset['EmployeeCount']=le.fit_transform(dataset['EmployeeCount'])
dataset['EmployeeNumber']=le.fit_transform(dataset['EmployeeNumber'])
dataset['JobRole']=le.fit_transform(dataset['JobRole'])
dataset['JobSatisfaction']=le.fit_transform(dataset['JobSatisfaction'])
dataset['MaritalStatus']=le.fit_transform(dataset['MaritalStatus'])
dataset['MonthlyIncome']=le.fit_transform(dataset['MonthlyIncome'])
dataset['MonthlyRate']=le.fit_transform(dataset['MonthlyRate'])
dataset['NumCompaniesWorked']=le.fit_transform(dataset['NumCompaniesWorked'])
dataset['Over18']=le.fit_transform(dataset['Over18'])
dataset['OverTime']=le.fit_transform(dataset['OverTime'])
dataset['PercentSalaryHike']=le.fit_transform(dataset['PercentSalaryHike'])
dataset['PerformanceRating']=le.fit_transform(dataset['PerformanceRating'])
dataset['RelationshipSatisfaction']=le.fit_transform(dataset['RelationshipSatisfaction'])
dataset['StandardHours']=le.fit_transform(dataset['StandardHours'])
dataset['StockOptionLevel']=le.fit_transform(dataset['StockOptionLevel'])
dataset['TotalWorkingYears']=le.fit_transform(dataset['TotalWorkingYears'])
dataset['TrainingTimesLastYear']=le.fit_transform(dataset['TrainingTimesLastYear'])
dataset['WorkLifeBalance']=le.fit_transform(dataset['WorkLifeBalance'])
dataset['YearsAtCompany']=le.fit_transform(dataset['YearsAtCompany'])
dataset['YearsInCurrentRole']=le.fit_transform(dataset['YearsInCurrentRole'])
dataset['YearsSinceLastPromotion']=le.fit_transform(dataset['YearsSinceLastPromotion'])
dataset['YearsWithCurrManager']=le.fit_transform(dataset['YearsWithCurrManager'])
dataset.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,23,1,Travel_Rarely,1102,2,0,2,1,0,0,...,0,0,0,8,0,0,6,4,0,5
1,31,0,Travel_Frequently,279,1,7,1,1,0,1,...,3,0,1,10,3,2,10,7,1,7
2,19,1,Travel_Rarely,1373,1,1,2,4,0,2,...,1,0,0,7,3,2,0,0,0,0
3,15,0,Travel_Frequently,1392,1,2,4,1,0,3,...,2,0,0,8,3,2,8,7,3,0
4,9,0,Travel_Rarely,591,1,1,1,3,0,4,...,3,0,1,6,3,2,2,2,2,2

In [43]:
x = dataset.iloc[:,5:9].values
y = dataset.iloc[:,9:10].values

In [44]:
y.shape

(1470, 1)

In [45]:
x.shape

(1470, 4)

In [46]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 0)

In [47]:
x_train

array([[20,  3,  1,  0],
       [27,  3,  5,  0],
       [25,  3,  2,  0],
       ...,
       [ 1,  3,  3,  0],
       [ 1,  5,  3,  0],
       [ 9,  4,  2,  0]], dtype=int64)

In [48]:
y_train

array([[1374],
       [1092],
       [ 768],
       ...,
       [1216],
       [ 559],
       [ 684]], dtype=int64)

In [49]:
from sklearn.tree import DecisionTreeClassifier
drc = DecisionTreeClassifier (criterion = 'entropy',random_state = 0)
drc.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [50]:
drc

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [51]:
x

array([[0, 2, 1, 0],
       [7, 1, 1, 0],
       [1, 2, 4, 0],
       ...,
       [3, 3, 1, 0],
       [1, 3, 3, 0],
       [7, 3, 3, 0]], dtype=int64)

In [52]:
y_pred  = drc.predict(x_test)

In [53]:
y_pred

array([  98,   42,  201,  697,  163,    6,  759,   37,   73,  166, 1297,
         99,  188,    0, 1297,   41,  118,  118, 1320, 1388,  179,   83,
        245,  252,   99,  677,  636,   71, 1152,  495,   95,  188,  207,
         28, 1320,  245,  451,   20,   32,  201,  756,  937,  250,  115,
         44,   16,  146,  188,  250,   60,  252, 1082,  691,  151,   71,
        214,  174,  677,  549,  151,   71,  949,   95,   73,  150,  214,
         41,  756,   21, 1029,  775,   99,  132, 1063,  158,  160,  179,
         71,   71,  387,  174,  677,  625,   73, 1297,   33,  532,    0,
        118, 1324,  185, 1151,  628,   67,  250,  438,  832, 1289,  314,
        104,  937,  352, 1184, 1132,  788,   30,   74,  147,  271,  562,
         17,  135,   72, 1320,   69,  290,   70,   74,  640,  115,  824,
         41,   16,  286,    0,   30,  188,  289,   67, 1022,  370,   21,
        592,  193,   67,   83,  292,  135,  518,  612,   77,  290,  677,
         70,  415,   59,   71,  796,  118,  172,   72, 1224,  562,   37,
       1150,   49,  271,  612,  162,  502,  370,   59,   69,  636,   59,
        871,  217,  949,  132,  115,  768,  146,   43,  383,  402,   73,
        951,    0,   62,  625, 1082,  691,   30,  305,  644, 1289,  628,
         60,  594, 1289,  130,  825,  964,   59,   62,  387,  452,  170,
        370,   30,   67,   75,  179,   38, 1151, 1082,    0,   72,  932,
        767,  250,  808,  339,  217,   65,  250,  292,   98,   32,   73,
        690,   86,  845,  825,  149, 1369,   75,  146,  625,  125,   62,
         71,   70,  290,   83,  560,   97,  698,  547,  287,   44, 1295,
         41,   21, 1077,  250,  284,  146,   22,   28,  242,  356,  259,
       1132,  640,  321,  201,  147, 1353,   69,   98,   73,  423,  518,
        323,  153,   65,   67,  975,   74,   60,   22,  216,  606, 1087,
         66, 1150,   41,  510,   74,  796,   73,   97,  612,   60, 1181,
         35,  753,  214,    6,    0,  114,   41,  289], dtype=int64)

In [54]:
y_test

array([[ 442],
       [1091],
       [ 981],
       [ 785],
       [1332],
       [ 501],
       [1058],
       [1253],
       [ 751],
       [ 122],
       [ 268],
       [ 940],
       [1125],
       [ 540],
       [1034],
       [ 432],
       [ 794],
       [ 666],
       [ 942],
       [1114],
       [ 853],
       [1330],
       [ 692],
       [ 548],
       [  54],
       [ 319],
       [1147],
       [1235],
       [1436],
       [ 520],
       [ 983],
       [1347],
       [ 465],
       [ 966],
       [  31],
       [ 420],
       [1462],
       [1408],
       [  89],
       [ 298],
       [ 875],
       [1385],
       [1430],
       [ 223],
       [1412],
       [1375],
       [   4],
       [1174],
       [ 892],
       [  34],
       [1310],
       [ 182],
       [ 467],
       [  52],
       [1032],
       [ 142],
       [1440],
       [ 528],
       [ 629],
       [1051],
       [1269],
       [ 993],
       [ 526],
       [ 278],
       [ 887],
       [1275],
       [ 667],
       [ 792],
       [ 148],
       [1039],
       [1414],
       [ 474],
       [1341],
       [1158],
       [ 393],
       [ 965],
       [1397],
       [ 743],
       [ 980],
       [1410],
       [ 916],
       [1300],
       [ 642],
       [1064],
       [1318],
       [1247],
       [ 187],
       [1023],
       [1183],
       [1073],
       [1311],
       [   9],
       [1019],
       [1180],
       [1405],
       [1120],
       [ 483],
       [ 310],
       [ 722],
       [   5],
       [ 482],
       [ 204],
       [1086],
       [ 376],
       [ 740],
       [ 299],
       [1218],
       [ 546],
       [1434],
       [1400],
       [ 302],
       [1096],
       [ 360],
       [1131],
       [ 191],
       [ 315],
       [ 211],
       [ 215],
       [ 279],
       [1179],
       [ 141],
       [1227],
       [ 641],
       [  14],
       [  82],
       [1301],
       [ 787],
       [ 583],
       [ 333],
       [ 610],
       [ 390],
       [1083],
       [   2],
       [ 554],
       [  85],
       [ 995],
       [ 107],
       [ 930],
       [1306],
       [1308],
       [ 489],
       [ 361],
       [1090],
       [  80],
       [ 152],
       [1452],
       [1093],
       [ 231],
       [ 693],
       [  96],
       [ 224],
       [ 948],
       [1015],
       [ 913],
       [ 445],
       [   1],
       [ 425],
       [ 159],
       [1210],
       [ 227],
       [ 838],
       [1416],
       [ 161],
       [ 656],
       [ 308],
       [ 253],
       [1084],
       [ 113],
       [1292],
       [ 898],
       [ 295],
       [ 608],
       [ 175],
       [ 970],
       [  45],
       [ 487],
       [1358],
       [  55],
       [ 657],
       [1126],
       [ 254],
       [ 491],
       [ 867],
       [1396],
       [ 587],
       [ 863],
       [ 536],
       [ 619],
       [ 192],
       [1411],
       [1460],
       [1273],
       [1425],
       [ 574],
       [ 108],
       [ 651],
       [ 567],
       [ 728],
       [ 842],
       [ 426],
       [ 260],
       [ 580],
       [1021],
       [1173],
       [ 572],
       [ 679],
       [1349],
       [ 233],
       [ 303],
       [ 506],
       [ 364],
       [1100],
       [  27],
       [1056],
       [ 317],
       [ 471],
       [ 907],
       [ 202],
       [1129],
       [1069],
       [1263],
       [ 381],
       [1137],
       [ 914],
       [ 634],
       [ 184],
       [ 431],
       [1413],
       [1438],
       [1361],
       [ 326],
       [  19],
       [ 726],
       [ 330],
       [ 353],
       [1074],
       [1360],
       [ 412],
       [1149],
       [ 649],
       [1279],
       [ 638],
       [  18],
       [ 500],
       [1099],
       [1075],
       [  53],
       [ 632],
       [ 874],
       [ 342],
       [  47],
       [ 459],
       [ 748],
       [ 609],
       [ 989],
       [1038],
       [ 473],
       [ 711],
       [ 717],
       [ 140],
       [1123],
       [  39],
       [1368],
       [1026],
       [ 322],
       [ 742],
       [ 935],
       [ 479],
       [1236],
       [1079],
       [ 461],
       [  58],
       [ 241],
       [1103],
       [ 783],
       [1399],
       [  56],
       [ 665],
       [ 575],
       [ 505],
       [ 443],
       [1283],
       [ 516],
       [  29],
       [ 270],
       [ 924],
       [1288],
       [ 985],
       [1327],
       [1439],
       [ 481],
       [ 124],
       [ 198],
       [1229]], dtype=int64)

In [55]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)

In [56]:
cm

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)